<div class="popup">
    <div class="header">
        <div *ngIf="data.operation === 'edit'">Edit Book</div>
        <div *ngIf="data.operation === 'add'">Add New Book</div>
    </div>
    <div class="popup-inner-wrapper">
            <div class="input-wrapper">
                <label for="name">Name:</label>
                <input type="text" name="name" [(ngModel)]="name">
            </div>
            <div class="input-wrapper">
                <label for="author">Author:</label>
                <input type="text" name="author" [(ngModel)]="author">
            </div>
            <div class="input-wrapper">
                <label for="image">Image:</label>
                <input type="text" name="image" [(ngModel)]="image">
            </div>
            <div class="input-wrapper">
                <label for="price">Price:</label>
                <input type="text" name="price" [(ngModel)]="price">
            </div>
    </div>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
      <button mat-button class="apply-button" (click)="apply()">Apply</button>
    </mat-dialog-actions>
    
</div>
