@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.card-body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: left;
    transition: 1s;
    .header{
        width: 100%;
        text-align: left;
        font-size: 1.1em;
        padding: 20px 0 0 0;
    }
    .author{
        width: 100%;
        margin: 10px 0 0 0;
    }

    .price{
        width: 100%;
        margin: auto 0 5px 0;
    }

    .image-wrapper{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin: auto 0;
        background-color: #1a1a1a;
        overflow: hidden;
        transition: 1s;
        img{
            width: 100%;
            height: 280px;
            object-fit: cover;
        }
        
    }

    .text-box-wrapper{
        padding: 0 0 0 15px;
        width: 100%;
        z-index: 200;
    }

    .panel-wrapper{
        transition: 1s;
        display: none;
        .edit-panel{
            display: flex;
            flex-direction: row;
            gap: 10px;
            .icon{
                border-radius: 50%;
                width: 35px;
                height: 35px;
                text-align: center;
                mat-icon{
                    line-height: 35px;
                    color: white;
                    cursor: pointer;
                }
            }
            .add{
                background-color: #36AE7C;
            }
            .edit{
                background-color: #000000;
            }
            .delete{
                background-color: #000000;
            }
        }
    }
    
}

.card-body:hover{
        .panel-wrapper{
            border-radius: 20px;
            display: block;
            position: absolute;
            height: 280px;
            top: 0;
            width: 240px;
            z-index: 100;
            backdrop-filter: blur(2px);
            .edit-panel{
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
        }

}